.gallery {
    padding-top: 84px;
    padding-bottom: 84px;

    @media screen and (min-width:1200px) {
            padding-top: 130px;
            padding-bottom: 130px;
}
}

img {
    width: 100%;
}

.gallery-pre-title {
    margin-bottom: 44px;
}

.gallery-list {
    margin-bottom: -30px;

    @media screen and (min-width:768px) {
            display: flex;
            flex-wrap: wrap;
            margin-right: -30px;
    }

    @media screen and (min-width:768px) {
            display: flex;
            flex-wrap: wrap;
            margin-right: -30px;      
}
}

.gallery-item {
    margin-bottom: 30px;

    @media screen and (min-width: 1200px) {
        flex-basis: calc(100% / 4 - 30px);
    margin-right: 30px;
    }
}

@media screen and (min-width: 768px) and (max-width:1199px) {
    .gallery-item {
        width: calc(100% / 2 - 30px);
    }
    .gallery-item:nth-child(even){
        margin-left: 30px;
    }
}