.btn {
    font-family: inherit;
    @include font(12px, 600, 1.33, 0.09em);
    text-transform: uppercase;
    border: 1px solid getColor('accent-color');
    border-radius: 25px;
    width: 160px;
    min-height: 40px;
    background-color: transparent;
    transition: color 300ms linear, background-color 300ms linear, transform 200ms ease-in-out;
  
    &:hover, 
    &:focus {
      color: getColor('first-button-color');
      background-color: getColor('accent-color');
    }
  }
